@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/*GENERAL STYLING*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D5D5ED;
    font-family: 'Source Sans 3', sans-serif;
    min-height: 100vh; margin:0;
    display:flex; flex-direction:column;
} 

p {
    font-size: 18px;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}

h1.space {
    margin-bottom: 20px;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: large;
}

h2.space {
    margin-top: 40px;
    margin-bottom: 20px;
}

h4 {
    color: #9F607B;
}

.padding {
    margin-bottom: 15px;
}

.liststyle {
    margin-left: 15px;
}

.nolist {
    list-style-type: none;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    margin: 0 auto;
    padding: 0 36px;
}

.column_index {
    float: left;
    width: 35%;
}

.column_skills {
    float: left;
    width: 20%;
}

.column_education {
    float: left;
    width: 40%;
}

.column_experience {
    float: left;
    width: 40%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*NAVIGATION*/
.navbar {
    background: #9F607B;
    color: #fff;
    height: 60px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: #F3A281;
}

.navbar a.active {
    color: #F3A281;
    text-decoration: none;
}

.navbar .container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    overflow: auto; 
}

.navbar ul li {
    margin: 36px;
}        

/*FLEX BOX COMPONENTS*/
.comp {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.comp_item {
    margin: 1px;
    padding: 10px;
    flex: 1;
}

.comp:before {
    content: "";
    border: 0.5px solid #9F607B;
    align-self: stretch;
}

.comp_item--start {
    text-align: center;
    order: -1;
}

.comp_item--end {
    margin-left: 30px;
    flex: 2;
}

@media screen and (min-width: 800px) {
    .navbar {
        flex-direction: row;
    }
    .comp {
        flex-direction: row;
    }
}

/*FOOTER STYLING*/
header {min-height:50px;}
article { flex:1; } /* The article fills all the space between header & footer */
footer {
    border-top: 1.5px solid #9F607B;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    min-height:50px;
}