@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); 

/*GENERAL STYLING*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #DCD0FF;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh; margin:0;
    display:flex; flex-direction:column;
    } 

h1.space {
    margin-bottom: 20px;
    }

.padding {
    margin-bottom: 15px;
}

.liststyle {
    margin-left: 15px;
  }

.nolist {
    list-style-type: none;
    }

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    }

.img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 2px solid white;
    }   

.column_index {
    float: left;
    width: 35%;
    }

.column_skills {
    float: left;
    width: 20%;
    }

.column_education {
    float: left;
    width: 40%;
    }

.column_experience {
    float: left;
    width: 20%;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
    }

/*NAVIGATION*/
.navbar {
    background: #55076c;
    color: #fff;
    height: 60px;
    }

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    }

.navbar a:hover {
    color: #c26cdd;
    }

.navbar a.active {
    color: #c26cdd;
    text-decoration: none;
    }

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    }

.navbar ul {
    display: flex;
    }

.navbar ul li {
    margin: 35px;
    }

/*FLEX BOX COMPONENTS*/
.comp {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.comp_item {
    margin: 1px;
    padding: 10px;
    flex: 1;
}

.comp:before {
    content: "";
    border: 0.5px solid #55076c;
    align-self: stretch;
}

.comp_item--start {
    text-align: center;
    order: -1;
}

.comp_item--end {
    flex: 2;
}

@media (min-width: 500px) {
    .navbar {
        flex-direction: row;
    }
    .comp {
        flex-direction: row;
    }
    .footer {
        flex-direction: row;
    }
}

@media screen and (min-width : 750px) {
    .comp_item--start{float:left;width:60%;}
    .comp_item--end{float:right;width:35%}
} 
     
@media screen and (min-width : 481px) and (max-width : 749px) {
    .comp_item--start{width:95%;}
    .comp_item--end{width:95%;}    
}

/*FOOTER STYLING*/
header {min-height:50px;}
article { flex:1; } /* The article fills all the space between header & footer */
footer {
    border-top: 1.5px solid #55076c;
    text-align: center;
    padding: 20px;
    font-size: small;
    min-height:50px;
}